.message-list-container {
  padding-bottom: 10px;
}
.message-box{
  padding: 0px;
  margin-bottom: 80px;
}
.input-box{
  position: fixed;
  bottom: 0px;
  margin-bottom: 0px;
}
.conversationHome{
  margin-top: 30%;
  text-align: center;
}
.conversationLogo{
  width: 100px;
}

.userInfo{
  text-align: center;
}