.toolbar {
    display: flex;
    align-items: center;
  
    background-color: #F3F3F3;
    font-weight: 500;
    border-bottom: 1px solid #eeeef1;
  
    position: sticky;
    top: 0px;
    height: 50px;
  }
  
  @supports (backdrop-filter: blur(20px)) {
    .toolbar {
      border: none;
      background-color: #F3F3F3;
      backdrop-filter: blur(20px);
    }
  }
  
  .toolbar-title {
    margin: 0;
    font-size: 16px;
    font-weight: 800;
  }
  
  .left-items, .right-items {
    flex: 1;
    padding: 10px;
    display: flex;
  }
  
  .right-items {
    flex-direction: row-reverse;
  }
  
  .left-items .toolbar-button {
    margin-right: 20px;
  }
  
  .right-items .toolbar-button {
    margin-left: 20px;
  }
  
  .left-items .toolbar-button:last-child,
  .right-items .toolbar-button:last-child {
    margin: 0;
  }

  .toolbar-button {
    color: #007aff;
    font-size: 28px;
    transition: all 0.1s;
  }
  
  .toolbar-button:hover {
    cursor: pointer;
    color: #0063ce;
  }
  
  .toolbar-button:active {
    color: #007aff;
    opacity: 0.25;
  }