.form {
  display: flex;
  width: 100%;
  bottom: 0px;
  background-color: #F3F3F3;
}
@supports (backdrop-filter: blur(20px)) {
  .form {
    border: none;
    background-color: #F3F3F3;
    backdrop-filter: blur(20px);
  }
}
.input {
  width: 90%;
  border-radius: 0;
  padding: 5%;
  font-size: 1.2em;
  height: 45px;

}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  padding-top: 12px;
  display: inline-block;
  border: none;
  width: 4%;
  height: 45px;
}
.sendButton:hover {
  cursor: pointer;
  color: black;
}

.sendButton:active {
  color: #4d4d4d;
  opacity: 0.25;
}