@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color: black !important
}



.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-filed input[type-text]:focus{
  border-bottom: 1px solid rgb(8,93,252) !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

.messenger {
  display: grid;
  width: 100%;
  height: 100vh;
  background: #eeeef1;

  grid-template-columns: 350px auto;
  grid-template-rows: 60px auto 60px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.container {
  padding: 10px;
}

.scrollable {
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.sidebar {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.content {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.footer {
  grid-column-start: 2;
  background: white;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}